<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Profile Conneg QSA Demonstrator</title>
  </head>
  <body>
    <h1>Profile Conneg QSA Demonstrator</h1>
{% filter markdown %}
This small [Python](https://www.python.org/) [Flask](http://flask.pocoo.org/) web
application that demonstrates profile-based content negotiation, as per the developing <em>profile</em>
specifications from the [Dataset Exchange Working Group](https://www.w3.org/2017/dxwg/).

Specifically, this API is a realisation of the [Content
Negotiation by Profile](https://w3c.github.io/dxwg/conneg-by-ap/)'s
[Abstract Model](https://w3c.github.io/dxwg/conneg-by-ap/#abstractmodel).

## Resources
All of the methods listed below in the API section can be used against any of the resources listed here.

* [{{ BASE_URI }}/paper/1]({{ BASE_URI }}/paper/1) - a scientific paper, no profiles declared
* [{{ BASE_URI }}/paper/2]({{ BASE_URI }}/paper/2) - one profile declared
* [{{ BASE_URI }}/paper/3]({{ BASE_URI }}/paper/3) - two profiles declared
* [{{ BASE_URI }}/license/1]({{ BASE_URI }}/license/1) - a license for an asset such as a dataset, two profiles declared
* [{{ BASE_URI }}/catalogue]({{ BASE_URI }}/catalogue) - a [DCAT](https://www.w3.org/TR/vocab-dcat-2/)-style catalogue, two profiles declared</li>

## API
This API is both a realisation of the Content Negotiation by Profile's Abstract Model and also an emulation of
the HTTP implementation in that it aims to be feature equivalent. For this reason, the HTTP equivalents of each
API function is indicated below.
{% endfilter %}
    <style>
      .properties {
        border-collapse: collapse;
        border: solid 2px black;
      }
      .properties td,
      .properties th {
        padding: 5px;
        border: solid 1px black;
      }
    </style>
    <table class="properties">
      <tr>
         <th>Abstract Function</th><th>QSA command</th><th>HTTP equivalent</th><th>Description</th><th>Example</th>
      </tr>
      <tr>
        <td>List profiles available for a <em>Resource</em></td>
        <td><code>RESOURCE_URI?_profile=list</code></td>
        <td><code>GET RESOURCE_URI</code> or <code>HEAD RESOURCE_URI</code></td>
        <td>
          <p>Returns a list of URIs for <em>Profile</em> according to which this <em>Resource</em> can be delivered.</p>
          <p>Available Media Types: <code>application/json</code>, <code>text/uri-list</code>, <code>text/html</code></p>
          <p>GETing a <em>Resource</em>, as per the HTTP implementation, results in the requested
             <em>Profile</em>s the <em>Resource</em> is able to be delivered according to being listed in
             <code>Link</code> HTTP headers. All <code>RESOURCE_URI?_profile=list</code> &amp; <code>RESOURCE_URI?_profile=PROFILE_ID</code>
              requests to this API also return equivalent <code>Link</code> HTTP headers.
          </p>
          <p>
              If the profiles for a resource are wanted to be listed in the most lightweight way, the HTTP <code>HEAD</code>
              method should be used to just get the headers for the resource but without any resource body content.
          </p>
        </td>
        <td>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=list">{{ BASE_URI }}/paper/3?_profile=list</a> (HTML)</p>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=list&_mediatype=text/uri-list">{{ BASE_URI }}/paper/3?_profile=list&_mediatype=text/uri-list</a> (text/uri-list)</p>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=list&_mediatype=https://w3id.org/mediatype/application/json">{{ BASE_URI }}/paper/3?_profile=list&_mediatype=https://w3id.org/mediatype/application/json</a> (JSON)</p>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>List profiles token/URI mapping for a <em>Resource</em></td>
        <td><code>RESOURCE_URI?_profile=tokens</code></td>
        <td>-</td>
        <td>
            <p>Returns a list of token/URI mappings for <em>Profile</em>s available for this <em>Resource</em>.</p>
            <p>Available Media Types: <code>application/json</code>, <code>text/html</code></p>
        </td>
        <td>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=tokens">{{ BASE_URI }}/paper/3?_profile=tokens</a> (HTML)</p>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=tokens&_mediatype=application/json">{{ BASE_URI }}/paper/3?_profile=tokens&_mediatype=application/json</a> (JSON)</p>
        </td>
      </tr>
      <tr>
          <td>Retrieve a <em>Resource</em> according to a <em>Profile</em></td>
        <td>
            <p><code>RESOURCE_URI?_profile=PROFILE_IDS</code></p>
            <p><code>PROFILE_IDS := PROFILE_ID[,PROFILE_ID]*</code></p>
            <p><code>PROFILE_ID := PROFILE_URI | PROFILE_TOKEN</code></p>
        </td>
        <td><code>Accept-Profile: PROFILE_URIS</code></td>
        <td>
            <p>Returns the <em>Resource</em> according to the first matched requested <em>Profile</em> defined by a
            PROFILE_ID within an array of PROFILE_IDS, or the default profile if none are matched.</p>
            <p>Any combination of URIs or tokens used to identify <em>Profiles</em> can be used.</p>
        </td>
        <td>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=http://test.linked.data.gov.au/def/CSIRO-ePub-DCAP">{{ BASE_URI }}/paper/3?_profile=http://test.linked.data.gov.au/def/CSIRO-ePub-DCAP</a> (URI)</p>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=epub">{{ BASE_URI }}/paper/3?_profile=epub</a> (token)</p>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=abc,def,xyz,dct,epub">{{ BASE_URI }}/paper/3?_profile=abc,def,xyz,dct,epub</a> (multiple tokens)</p>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=abc,def,xyz,dct,epub">{{ BASE_URI }}/paper/3?_profile=abc,def,xyz,http://purl.org/dc/terms/,epub</a> (multiple tokens &amp; URIs)</p>
        </td>
      </tr>
      <tr>
        <td>List <em>Media Types</em> available for a <em>Resource</em> according to a <em>Profile</em></td>
        <td>
            <p><code>RESOURCE_URI?_profile=PROFILE_ID&_mediatype=list[,MEDIATYPE_ID]</code></p>
            <p><code>MEDIATYPE_ID := MEDIATYPE_URI | MEDIATYPE_TOKEN</code></p>
        </td>
        <td>-</td>
        <td>
            <p>Returns a list of URIs for the Media Types available for that <em>Resource</em> for that <em>Profile</em></p>
            <p>Available Media Types: <code>application/json</code>, <code>text/uri-list</code>, <code>text/html</code></p>
            <p>If a particular Media Type response is wanted, as opposed to the HTML default, then this should be specified, via token or URI, after the keyword <code>list</code> separated by a comma.</p>
        </td>
        <td>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=list">{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=list</a> (HTML)</p>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=list,text/uri-list">{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=list,text/uri-list</a> (text/uri-list)</p>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=list,application/json">{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=list,application/json</a> (JSON)</p>
        </td>
      </tr>
      <tr>
        <td>List <em>Media Types</em> token/URI mapping for a <em>Resource</em>'s a <em>Profile</em></td>
        <td>
            <p><code>RESOURCE_URI?_profile=PROFILE_ID&_mediatype=tokens[,MEDIATYPE_ID]</code></p>
            <p><code>MEDIATYPE_ID := MEDIATYPE_URI | MEDIATYPE_TOKEN</code></p>
        </td>
        <td>-</td>
        <td>
            <p>Returns a list of token/URI mappings for <em>Media Types</em> for a <em>Resource's</em> according to a particular <em>Profile</em>.</p>
            <p>Available Media Types: <code>application/json</code>, <code>text/html</code></p>
            <p>If a particular Media Type response is wanted, as opposed to the HTML default, then this should be specified, via token or URI, after the keyword <code>tokens</code> separated by a comma.</p>
        </td>
        <td>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=tokens">{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=tokens</a> (HTML)</p>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=tokens,application/json">{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=tokens,application/json</a> (JSON)</p>
        </td>
      </tr>
      <tr>
        <td>
            Get a <em>Resource</em> according to a <em>Profile</em> and a <em>Media Type</em>.
        </td>
        <td>
            <p><code>RESOURCE_URI?_profile=PROFILE_IDS&_mediatype=MEDIATYPE_IDS</code></p>
            <p><code>MEDIATYPE_IDS := MEDIATYPE_ID[,MEDIATYPE_ID]*</code></p>
            <p><code>MEDIATYPE_ID := MEDIATYPE_URI | MEDIATYPE_TOKEN</code></p>
        </td>
        <td>
            <p><code>
                GET RESOURCE_URI<br />
                Accept-Profile: PROFILE_IDS_Q<br />
                Accept: MEDIATYPE_IDS_Q
            </code></p>
        </td>
        <td>
            <p>Returns a single representation of a <em>Resource</em> according to a specified <em>Profile</em> and a
              specified <em>Media Type</em></p>
            <p>The server will use a default <em>Profile</em> or <em>Media Type</em> if either is not supported.</p>
        </td>
        <td>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=application/xml,application/ld+json">{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=dct,epub</a> (tokens, JSON-LD)</p>
            <p><a href="{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=http://w3id.org/mediatype/application/xml,https://w3id.org/mediatype/application/ld+jsonx">{{ BASE_URI }}/paper/3?_profile=epub&_mediatype=http://w3id.org/mediatype/application/xml,https://w3id.org/mediatype/application/ld+json</a> (URIs, JSON-LD)</p>
        </td>
      </tr>
    </table>
{% filter markdown %}
## Feedback
The code, data &amp text for this API is online in a code repository at:

* <https://github.com/CSIRO-enviro-informatics/profile-conneg-qsa-realisation>

Please use the [Issue Tracker](https://github.com/CSIRO-enviro-informatics/profile-conneg-qsa-realisation/issues) associated with that API to make any comments or suggestions for it or the Profile Negotiation methods it's showcasing.

For all other enquiries:

**Nicholas Car**<br />
*Lead Developer*<br />
*Senior Experimental Scientist*<br />
CSIRO Land & Water, Environmental Informatics Group<br />
Brisbane, Queensland, Australia<br />
<nicholas.car@csiro.au>

{% endfilter %}
  </body>
</html>